@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Effra";
  src: url("/fonts/Effra.ttf") format("truetype");
}
@font-face {
  font-family: "Tomatoes";
  src: url("/fonts/Tomatoes-O8L8.ttf") format("truetype");
}
@font-face {
  font-family: "LoveDays";
  src: url("/fonts/LoveDays-2v7Oe.ttf") format("truetype");
}
@font-face {
  font-family: "BeautifulEveryTime";
  src: url("/fonts/BeautifulEveryTime-Dg4m.ttf") format("truetype");
}

@layer base {
  :root {
    --background: 0 0% 98%; /* branco */
    --foreground: 207 48% 15%; /* azul marinho */

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 88 58% 50%; /* verde */
    --primary-foreground: 207 48% 15%; /* azul marinho */

    --secondary: 36, 98%, 50%; /* laranja */
    --secondary-foreground: 207 48% 15%; /* azul marinho */

    --tertiary: 282, 25%, 48%; /* roxo */
    --secondary-foreground: 0 0% 98%; /* branco */

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --hover:206, 46%, 23%;
    --hover-foreground: 0 0% 98%;
    --hover-primary: 87, 60%, 55%;

    --golden: 51, 100%, 50%;
    --golden-foreground: 0 0% 98%;
 

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  @keyframes swipeAnimation {
    0%,
    100% {
      transform: translateX(-20px);
    }
    50% {
      transform: translateX(20px);
    }
  }

  .animate-swipe {
    animation: swipeAnimation 2s ease-in-out infinite;
  }

  @keyframes tiltAnimation {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(-5deg);
    }
    50% {
      transform: rotate(5deg);
    }
    75% {
      transform: rotate(-5deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  .tiltableImage {
    animation: tiltAnimation 0.5s ease-in-out 1;
    animation-delay: 2s;
  }

  @keyframes moveRightAnimation {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(5px);
    }
  }

  .moveRight {
    animation: moveRightAnimation 0.2s ease-in-out 1 forwards;
  }
}

@keyframes scanAnimation {
  0%, 100% {
    box-shadow: 0 -50px 30px -30px rgba(0,0,0,0.8), 0 50px 30px -30px rgba(0,0,0,0.8);
    opacity: 0;
    transform: scaleY(1);
    
  }
  50% {
    box-shadow: 0 0 30px -5px rgba(0,0,0,0.8), 0 0 30px -5px rgba(0,0,0,0.8);
    opacity: 1;
    transform: scale(0);
  }
}

.animate-scan {
  animation: scanAnimation 4s ease-in-out infinite;
}


